site_name: WA Cyber Security Unit (Office of Digital Government)
docs_dir: .
theme:
  name: material
  features:
    - navigation.sections
    - navigation.path
    - toc.integrate
    - toc.follow
    - content.code.copy
  icon:
    logo: material/security
  palette:
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      primary: deep orange
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      primary: deep orange
      scheme: default 
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      primary: deep orange
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to system preference
plugins:
  - same-dir
  - search
markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
nav:
- Home: home.md
- Sentinel Connector Guidance: onboarding/sentinel-guidance.md
- SOC Onboarding: onboarding.md
- Baseline for Event Ingestion: onboarding/baseline-event-ingestion.md
- Advisories:
  - TLP:CLEAR: advisories.md
  - TLP:GREEN: tlp-green/advisories.md
- IRP User Guide (Jira): docs/incident-reporting.md
- Training:
  - SOC Analyst Induction: docs/analyst-induction.md
  - Azure Basics: docs/azure-basics.md
  - Workstation Self-Build (Linux, macOS, Windows): docs/workstations.md
- Collecting Evidence: docs/collecting-evidence.md
- Cyber Security Playbooks: docs/playbooks.md
- Links:
  - Office of Digital Government: https://www.wa.gov.au/organisation/department-of-the-premier-and-cabinet/office-of-digital-government
  - Cyber Security Policy: https://www.wa.gov.au/government/publications/wa-government-cyber-security-policy
  - Vulnerability Management: https://www.wa.gov.au/organisation/department-of-the-premier-and-cabinet/vulnerability-scanning-service-description
  - Github: https://github.com/wagov