mkdocs==1.6.0
mkdocs-git-revision-date-localized-plugin==1.2.6
mkdocs-macros-plugin==1.0.5
mkdocs-material==9.5.30
mkdocs-redirects==1.2.1
pymdown-extensions==10.8.1
mkdocs-linkcheck==1.0.6
mdformat-gfm==0.3.6
mdformat-mkdocs[recommended]==3.0.0
beautifulsoup4==4.12.3
diskcache==5.6.3
sendgrid==6.11.0
feedgen==1.0.0
