{{- $dest := .Destination -}}
{{- $parsed := urls.Parse $dest -}}
{{- if and (not $parsed.IsAbs) (not (strings.HasPrefix $dest "mailto:")) -}}
  {{- $path := $parsed.Path -}}
  {{- if or (eq $path "/rss.xml") (eq $path "/atom.xml") -}}
    {{- $dest = relURL "index.xml" -}}
  {{- end -}}
  {{- with $parsed.RawQuery -}}{{- $dest = printf "%s?%s" $dest . -}}{{- end -}}
  {{- with $parsed.Fragment -}}{{- if not (strings.Contains $dest "#") -}}{{- $dest = printf "%s#%s" $dest . -}}{{- end -}}{{- end -}}
{{- end -}}
<a href="{{ $dest | safeURL }}"{{ with .Title }} title="{{ . }}"{{ end }}>{{ .Text | safeHTML }}</a>
