{{ $cover := and
    (.HasShortcode "blocks/cover")
    (not .Site.Params.ui.navbar_translucent_over_cover_disable)
-}}
<nav class="td-navbar js-navbar-scroll
      {{- if $cover }} td-navbar-cover td-navbar-transparent {{- end }}"
      {{- if eq (.Param "ui.navbar_theme") "dark" }} data-bs-theme="dark" {{- end }}>
<div class="td-navbar-container container-fluid">
  <a class="navbar-brand" href="{{ .Site.Home.RelPermalink }}">
    <span class="navbar-brand__name">{{ .Site.Title }}</span>
  </a>
  <div class="ms-auto d-flex align-items-center gap-2">
    <div class="td-navbar__search">
      {{ partial "search-input.html" . }}
    </div>
    {{- $darkMode := partialCached "dark-mode-config.html" "dark-mode-global" -}}
    {{ if $darkMode.showMenu }}
    <div class="td-navbar__light-dark-menu">
      {{ partial "theme-toggler" . }}
    </div>
    {{ end }}
  </div>
</div>
</nav>
