{{ $type := .Get "type" | default "note" }}
{{ $title := .Get "title" | default (title $type) }}
{{ if eq (.Get "collapsible") "true" }}
<details class="admonition {{ $type }}">
  <summary class="admonition-title">{{ $title }}</summary>
  <div class="admonition-content">{{ .Inner | markdownify }}</div>
</details>
{{ else }}
<div class="admonition {{ $type }}" role="note">
  <div class="admonition-title">{{ $title }}</div>
  <div class="admonition-content">{{ .Inner | markdownify }}</div>
</div>
{{ end }}
