# Simple workflow for testing mkdocs build
name: Test building TLP:CLEAR content

on: [push, pull_request, workflow_dispatch]

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@c6295a65d1254861815972266d5933fd6e532bdf # v2.11.1
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0
      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: '3.13'
          cache: 'pip' # caching pip dependencies
      - name: install mkdocs
        run: pip install -r requirements.txt
      - name: run mdformat
        run: mdformat --no-validate . && mdformat .
      - name: build site
        run:  python -m mkdocs build --strict
